h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color:#567deb;
    display: flex;
    justify-content: space-between;
}

.site-description{
    background-color: #ab39ed;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    background-color: #9258ad;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: #101c09;
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}